@model string

<!DOCTYPE html>
<html>
<body>
    <header>
        <a href="/"><img src="~/resources/GroupeHN.png" class="image" alt="GroupHN" /></a>
        <h1>@HomeText(Model)</h1>
    </header>
    <nav>
        <ul>
            <li>
                @{Nav(Model);}
            </li>
            <li>
                @{Nav2(Model);}
            </li>
        </ul>
    </nav>
</body>
</html>

@{
    string HomeText(string model) {

        switch (model)
        {
            case "Form":
                return "TP HN Opinion Form";
            case "OpinionList":
                return "Opinion Lists";
            case "ValidationPage":
                return "Validation TP HN Opinion";
            default:
                return "Welcome to TP HN";
        }
    }

    void Nav(string model) {

        switch (model)
        {
            case "Form":
                <a href="/">Home</a>
                break;
            case "OpinionList":
                <a href="/">Home</a>
                break;
            case "ValidationPage":
                <a href="/">Home</a>
                break;
            default:
                <a href="/Home/Index/Form">Fill out form</a>
                break;
        }
    }

    void Nav2(string model) {
        switch (model)
        {
            case "Form":
                <a href="/Home/Index/OpinionList">Opinion List</a>
                break;
            case "OpinionList":
                <a href="/Home/Index/Form">Fill out form</a>
                break;
            case "ValidationPage":
                <a href="/Home/Index/OpinionList">Opinion List</a>
                break;
            default:
                <a href="/Home/Index/OpinionList">Opinion List</a>
                break;
        }
    }
}