@using TPLOCAL1.Models;

<! DOCTYPE html>
<html>
@await Html.PartialAsync("~/Views/Shared/_Layout.cshtml", "OpinionList")
<head>
	<title>HN - Opinion Lists</title>
	<link rel="stylesheet" href="~/resources/Index.css" />
</head>
<body>
    <table class="xmlTable">
        <tr>
            <th colspan="3">
                List
            </th>
        </tr>
        <tr>
            <th class="xmlData">
                Name
            </th>
            <th class="xmlData">
                First Name
			</th>
			<th class="xmlData">
				Opinion
			</th>
        </tr>
        @{
            OpinionList opinionList = new OpinionList();
        }
        @foreach(Opinion op in opinionList.GetAvis("XlmFile\\DataAvis.xml"))
        {
            <tr>
                <th class="xmlData">
                    @op.LastName
                </th >
                <th class="xmlData">
                    @op.FirstName
                </th>
                    @if (op.OpinionGiven == "O")
                    {
                        <th style="background-color: green" class="xmlData">
                            Yes
                        </th>
                    } 
                    else
                    {
                        <th style="background-color: red" class="xmlData">
                            No
                        </th>
                    }
            </tr>
        }
    </table>
</body>
</html>